<div>
    <form asp-action="Feed" asp-controller="Home" method="get">
        <button>Feed</button>
    </form>
    <form asp-action="Play" asp-controller="Home" method="get">
        <button>Play</button>
    </form>
    <form asp-action="Work" asp-controller="Home" method="get">
        <button>Work</button>
    </form>
    <form asp-action="Sleep" asp-controller="Home" method="get">
        <button>Sleep</button>
    </form>
</div>