@model Dojodachi.Models.Dojodachis

<div>
    <div>
        <p>Fullness: @Model.Fullness</p>
        <p>Happiness: @Model.Happiness</p>
        <p>Meals: @Model.Meals</p>
        <p>Energy: @Model.Energy</p>
    </div>
    <div>
        <form>
            <button>Feed</button>
        </form>
        <form>
            <button>Play</button>
        </form>
        <form>
            <button>Work</button>
        </form>
        <form>
            <button>Sleep</button>
        </form>
    </div>
</div>
